/* #root {
  background-color: black;
  height: 90vh;
} */

.map {
  /* background-color:cadetblue; */
  width: 1050px;
  height: 384px;
  border: 2px solid grey;
  position: relative;
  top: 0;
  left: 0;
}

/* .player {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: cadetblue;
    top: 0;
    left: 0;
  } */
.tile {
  height: 32px;
  width: 32px !important;
  background-color: #e4e4e6;
}

.row {
  width: 100%;
  display: flex;
}

.ground {
  background-image: url('./assets/tile.png');

}

.leftChair {
  background-image: url('./assets/chair.png');
  background-position: initial;
  background-repeat: round;
}

.rightChair {
  background-image: url('./assets/chair2.png');
  background-position: initial;
  background-repeat: round;
}

.fridge {
  background-image: url('./assets/fridge.png');
  background-position: initial;
  background-repeat: round;
}

.iceCream {
  background-image: url('./assets/Ice_Cream_Shop_Singles_48x48_2.png');
  background-position: initial;
  background-repeat: round;
}