/* #root {
  background-color: black;
  height: 90vh;
} */

.map {
  /* background-color:cadetblue; */
  width: 352px;
  height: 352px;
  border: 2px solid grey;
  position: relative;
  top: 0;
  left: 0;
}

/* .player {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: cadetblue;
    top: 0;
    left: 0;
  } */
.tile {
  height: 32px;
  width: 32px !important;
  background-color: #e4e4e6;
  background-position: initial;
  background-repeat: round;
}

.mapdiv {
  background: url(/src/assets/Profile-1.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  width: 100%;
  display: flex;
}

.ground {
  background-image: url('./assets/tile.png');

}

.blue {
  background-color: rgb(64, 175, 234);
  ;
}

.window {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_12.png');
  background-position: initial;
  background-repeat: round;
  background-color: rgb(64, 175, 234);
  ;
}

.cupboard {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_2.png');
  background-position: initial;
  background-repeat: round;
  background-color: rgb(64, 175, 234);
  ;
}

.singlechair {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_77.png');

}

.heartdrawer {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_74.png');
  background-position: initial;
  background-repeat: round;
  background-color: rgb(64, 175, 234);
  ;
}

.heartcupboard {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_475.png');

}

.fridge {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_256.png');
  background-position: initial;
  background-repeat: round;
  background-color: rgb(64, 175, 234);
  ;
}

.door1top {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Music_and_Sport_Singles_48x48_118.png');
  background-color: rgb(64, 175, 234);

}

.hearttable1 {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_472.png');

}

.greenpot {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_450.png');

}

.door1 {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Music_and_Sport_Singles_48x48_118.png');

}

.door2 {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Music_and_Sport_Singles_48x48_119.png');

}

.hearttable2 {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_473.png');

}

.browntable {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_182.png');

}

.browntable2 {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Grocery_Store_Singles_48x48_183.png');
}

.window2 {
  background-color: rgb(64, 175, 234);
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_15.png');
}

.table {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_75.png');

}

.table1 {
  background-image: url('./assets/asset-v1/Ice_Cream_Shop_Singles_48x48_57.png');

}

.table2 {
  background-image: url('./assets/asset-v1/Ice_Cream_Shop_Singles_48x48_65.png');

}

.leftchair {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_78.png');

}

.rightchair {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48/Ice_Cream_Shop_Singles_48x48_79.png');

}

.rightChair {
  background-image: url('./assets/chair2.png');
  background-position: initial;
  background-repeat: round;
}


.icecream {
  background-image: url('./assets/24_Ice_Cream_Shop_Singles_48x48//Ice_Cream_Shop_Singles_48x48_101.png');

}