.map {
  /* background-color:cadetblue; */
  width: 384px;
  height: 384px;
  border: 2px solid grey;
  position: relative;
  top: 0;
  left: 0;
}

/* .player {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: cadetblue;
    top: 0;
    left: 0;
  } */
.tile {
  height: 32px;
  width: 32px !important;

}

.row {
  width: 100%;
  display: flex;
}

.grass {
  background-color: green
}

.tree {
  background-image: url('./assets/c.png');
  background-position: initial;
  background-repeat: round;
}

.rock {
  background-image: url('./assets/rock.jpeg');
  background-position: initial;
  background-repeat: round;
}